Thumbs.db
.DS_Store
.gradle
!build/libs
build/classes
build/kotlin
build/docker
build/native
build/snapshot
build/resources
build/tmp
build/.docker
build/generated
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
